body
  padding-top:70px

h1:first-child
  margin-top:0

#login
  max-width:330px
  padding:15px
  margin:5% auto
  .btn-block
    margin-top:10px
  .alert
    margin-top:15px

table
  th.r, td.r
    text-align:right
