div(ng-controller='StatusCtrl')
  h1 {{appName}}

  .app-actions
    select.form-control.scale(ng-model='app.scale', ng-show='app.master', ng-change='scale(appName, app)')
      option(value='') Scale
    button.btn.btn-warning(ng-show='app.master', ng-click='restart(appName)') Restart
    button.btn.btn-danger(ng-show='app.master', ng-click='stop(appName)') Stop
    button.btn.btn-success(ng-hide='app.master', ng-click='start(appName)') Start app

  .app-config(ng-controller='ConfigCtrl')
    dl.col-xxs-12.col-xs-6.col-md-4.col-lg-3(ng-repeat='(key, val) in config')
      dt {{key}}
      dd {{val}}

  table.table.table-condensed.status
    thead: tr
      th Worker
      th State
      th.r.uptime.hidden-xs Uptime
      th.r.cpu CPU
      th.r.ram RAM

    tr
      td Master
      td(class='state-{{status[appName].master.state || "stopped"}}')
        span {{status[appName].master.state || "stopped"}}
        span.badge.badge-danger(ng-hide='app.errors===0') {{app.errors}}
      td.r.uptime.hidden-xs {{uptime(status[appName].master.startTime)}}
      td.r {{status[appName].master.usage.cpu && status[appName].master.usage.cpu+"%"}}
      td.r {{status[appName].master.usage.ram && status[appName].master.usage.ram+" MB"}}
    tr(ng-repeat='worker in status[appName].workers')
      td
        span.hidden-xxs Worker 
        span &#35;{{worker.workerId}}
      td(class='state-{{worker.state}}') {{worker.state}}
      td.r.uptime.hidden-xs {{uptime(worker.startTime)}}
      td.r {{worker.usage.cpu}}%
      td.r {{worker.usage.ram}} MB

