doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width')
    title oodmin
    link(rel='stylesheet', href='/.oodmin/lib/bs/css/bootstrap.min.css')
    link(rel='stylesheet', href='/.oodmin/css/main.css')

  body(ng-app='ood', ng-controller='AppCtrl')
    block body
